.container {
    max-width: 1280px;
    margin: 0 auto;
}

.card-title {
    margin: 0;
    font-weight: 600;
}

.lead {
    font-size: 1.35rem;
    margin: 3rem 0;
}


.padding-3 {
    padding: 1.75rem;
}

.bg-white {
    background: white;
}

.section-header {
    font-weight: 600;
    padding: 0 0.5rem;
}

.f-subheadline-l {
    font-weight: 600;
}

h2.fw1 {
    font-weight: 500;
}

.cards {
    display: table;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 1.55rem;
    transition: all 0.2s ease-in-out !important;
    height: 185px;
    position: relative !important;
}

.stretched-link {
    text-decoration: none;
    color: initial;
    /*opacity: 0;*/
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.card:hover {
    box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    border-color: #222222;
}

.card-link {
    font-weight: 500;
    color: #357edd;
    text-decoration: none;
}

.card-body {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
